<div *ngIf="!movedMedia">
    <br />
    <h3>{{ "no media found, try again" | translate }}</h3>
</div>

<div *ngIf="movedMedia">
    <h1>{{ generateTitle(movedMedia) }}</h1>

    <div class="button-container">
        <button mat-raised-button id="back-btn" (click)="goBack()">{{ "back" | translate }}</button>
    </div>

    <br/>

    <mat-card class="search-item-card">
        <div style="display: flex">
            <div class="poster-container" >
                <img class="options-item-poster" src="{{movedMedia.posterUrl}}" alt="">
            </div>
            <div class="media-container">
                <div class="title-container">
                    <mat-card-subtitle><span>{{ generateSubtitle(movedMedia) }}</span></mat-card-subtitle>
                    <div>{{ movedMedia.description ? movedMedia.description : ("no media description" | translate) }}</div>
                    <br />
                    <div>
                        <span class="ccc">{{ "cast" | translate }}</span> {{ movedMedia.cast.length > 0 ? movedMedia.cast.join(", ") : ("no cast available" | translate) }}
                    </div>
                </div>
                <div class="actions-container">
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="details-button" (click)="deleteMedia(movedMedia)">{{ "delete media" | translate }}</button>
                    </mat-card-actions>
                </div>
                <div class="actions-container">
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="details-button" (click)="findSubtitles(movedMedia)">{{ "find subs" | translate }}</button>
                    </mat-card-actions>
                </div>
            </div>
        </div>
    </mat-card>
</div>
