<mat-nav-list class="options-list">
    <div *ngFor="let desc of data.mediaDescriptions">
        <a mat-list-item (click)="selectDescription(desc)">
            <img *ngIf="desc.posterUrl" class="options-item-poster" src="{{desc.posterUrl}}" alt="">
            <img *ngIf="!desc.posterUrl" class="options-item-poster" src="{{fallbackPosterUrl}}" alt="">
            <div class="options-item-details">
                <div class="options-item-title">{{desc.title}} <span *ngIf="desc.date">({{desc.date}})</span></div>
                <div class="options-item-desc">{{desc.description}}</div>
                <div class="options-item-cast">Cast:
                    <span *ngFor="let actor of desc.cast">{{actor}}, </span>
                </div>
            </div>
        </a>
        <mat-divider class="options-divider"></mat-divider>
    </div>
</mat-nav-list>