<button mat-raised-button id="back-btn" (click)="goBack()">{{ "back" | translate }}</button>

<div *ngIf="mediaFileGroup">
    <h1>{{mediaFileGroup.name}}</h1>

    <div>{{ "path" | translate }}</div>
    <div class="path-text">{{mediaFileGroup.path}}</div>
    <br/>

    <div>{{ "media files" | translate }}</div>
    <div class="files-text" *ngFor="let video of mediaFileGroup.videos; let i = index">
        {{i+1}}. {{video}}
    </div>
    <br/>

    <div>
        <button mat-raised-button color="primary" class="left-button"
            (click)="generateTVName(finalName ? finalName : mediaFileGroup.name!)">{{ "tv" | translate }}</button>
        <button mat-raised-button color="primary" class="right-button"
            (click)="generateMovieName(finalName ? finalName : mediaFileGroup.name!)">{{ "movie" | translate }}</button>
    </div>

    <div *ngIf="type && finalName" class="output-controls">
        <div>
            <mat-form-field appearance="outline" color="accent" class="dest-field">
                <mat-label>{{ "media destination name" | translate }}</mat-label>
                <input matInput [(ngModel)]="finalName">
            </mat-form-field>
        </div>
        <div *ngIf="type === 'TV'"></div>
            <p>{{ "season" | translate }}</p>
            <mat-button-toggle-group name="fontStyle" [ngModel]="season" aria-label="Font Style" class="season-toggle-group">
                <mat-button-toggle value="1" class="season-toggle">1</mat-button-toggle>
                <mat-button-toggle value="2" class="season-toggle">2</mat-button-toggle>
                <mat-button-toggle value="3" class="season-toggle">3</mat-button-toggle>
                <mat-button-toggle value="4" class="season-toggle">4</mat-button-toggle>
                <mat-button-toggle value="5" class="season-toggle">5</mat-button-toggle>
                <mat-button-toggle value="6" class="season-toggle">6</mat-button-toggle>
                <mat-button-toggle value="7" class="season-toggle">7</mat-button-toggle>
                <mat-button-toggle value="8" class="season-toggle">8</mat-button-toggle>
            </mat-button-toggle-group>
        <div>
            <button mat-raised-button color="accent" class="move-button" (click)="moveMedia()">{{ "move" | translate }} {{ type.toLowerCase() | translate }}</button>
        </div>
    </div>
</div>
