#back-btn {
    margin-bottom: 10px;
}

.path-text {
    color: gray;
}

.files-text {
    color: gray;
}

.season-toggle-group {
    margin-bottom: 15px;
}

.season-toggle {
    width: 50px;
}

.input-container {
    margin-top: 20px;
}

.form-container {
    @media (max-width: 600px) {
        .season-toggle-group, input, button {
            width: 100%;
        }
    }

    .button-container, .input-container, .dest-field {
        margin-right: 0;
    }
}
