$loadingSize: 150px;
$rectanglesSize: 75px;
$dotSize: 50px;
$orbitRadius: 30px;
$color1: linear-gradient(90deg, rgb(155, 39, 175) 0%, rgb(66, 66, 66) 100%);
$color2: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(155, 39, 175) 100%);
$color3: linear-gradient(90deg, rgb(155, 39, 175) 0%, rgb(66, 66, 66) 100%);
$color4: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(155, 39, 175) 100%);
$animDuration: 1s;

#loading-container {
    position: fixed;
    top: calc(50% - $rectanglesSize);
    left: calc(50% - $rectanglesSize);
    display: initial;

    .loading {
        margin: auto;
        position: relative;
        width: $loadingSize;
        height: $loadingSize;

        span {
            position: absolute;
            border: 4px solid white;
            top: 50%;
            left: 50%;
            width: $dotSize;
            height: $dotSize;
            border-radius: 50%;
            margin: calc(-#{$dotSize} / 2) 0 0 calc(-#{$dotSize} / 2);
            animation: orbit $animDuration linear infinite;
        }

        span:nth-child(1) {
            background: $color1;
            animation-delay: 0s;
        }

        span:nth-child(2) {
            background: $color2;
            animation-delay: calc(#{$animDuration} / -4);
        }

        span:nth-child(3) {
            background: $color3;
            animation-delay: calc(#{$animDuration} / -2);
        }

        span:nth-child(4) {
            background: $color4;
            animation-delay: calc(#{$animDuration} * -3 / 4);
        }
    }
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX($orbitRadius) scale(1);
    }

    25% {
        transform: rotate(90deg) translateX($orbitRadius) scale(1.4);
    }

    50% {
        transform: rotate(180deg) translateX($orbitRadius) scale(1);
    }

    75% {
        transform: rotate(270deg) translateX($orbitRadius) scale(0.6);
    }

    100% {
        transform: rotate(360deg) translateX($orbitRadius) scale(1);
    }
}
