.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-button {
    width: 150px;
}

.wide-input {
    width: 248px;
}

.list-card {
    margin-bottom: 20px;
}
