<h3>{{ "use button below to shutdown or reboot" | translate }}</h3>

<form [formGroup]="shutdownForm" class="center-container">
    <mat-form-field>
        <mat-label>{{ "delay in minutes" | translate }}</mat-label>
        <input type="number" matInput formControlName="minutes">
    </mat-form-field>

    <button mat-raised-button color="primary" class="command-button" (click)="shutdown()">{{ "shutdown_cmd" | translate }}</button>

    <button mat-raised-button color="primary" class="command-button" (click)="reboot()">{{ "reboot_cmd" | translate }}</button>

    <button mat-raised-button color="primary" class="command-button" (click)="sleep()">{{ "sleep_cmd" | translate }}</button>

    <br>

    <mat-form-field>
        <mat-label>{{ "service name" | translate }}</mat-label>
        <input matInput formControlName="serviceName">
    </mat-form-field>

    <button mat-raised-button color="primary" class="command-button" (click)="restartService()">{{ "restart_service" | translate }}</button>
</form>
