h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;;
    font-family: "LatoLight";
}

h3 {
    text-align: center;
    font-family: "LatoLight";
}

.center-container {
    text-align: center;
}

.reboot-container {
    margin-top: 15px;
}

.command-button {
    width: 250px;
    height: 50px;
}
