<h1>{{ "current messages" | translate }} <button mat-raised-button id="clear-btn" (click)="messageService.clear()">{{ "clear all" | translate }}</button></h1>

<div *ngIf="messageService.messages.length">
    <div *ngFor="let message of messageService.messages; let i = index">
        <mat-card class="messages-item-card">
            <mat-card-header>
                <mat-card-subtitle>{{message}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <br />
    </div>
</div>
