.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
    padding: 25px;;
}

.main-header-logo {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.logout-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.darkMode-container {
    display: flex;
    align-items: center;

    .darkMode-icon {
        margin-top: 2px;
    }
}
