<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>{{ "menu" | translate }}</mat-toolbar>
        <mat-nav-list>
            <a *ngIf="isLoggedIn" mat-list-item routerLink="/">{{ "home" | translate }}</a>
            <a *ngIf="isLoggedIn" mat-list-item routerLink="/search">{{ "search" | translate }}</a>
            <a *ngIf="isLoggedIn" mat-list-item routerLink="/shutdown">{{ "shutdown" | translate }}</a>
            <a *ngIf="!isLoggedIn" mat-list-item routerLink="/security/login">{{ "login" | translate }}</a>
            <a mat-list-item routerLink="/messages">{{ "messages" | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <img class="main-header-logo" src="/assets/img/application_gray.png" alt=""/>
            <span>{{ "videosmover" | translate }}</span>

            <div class="logout-container">
                <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="langMenu">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #langMenu="matMenu">
                    <button mat-menu-item (click)="switchLanguage('en')">
                        <mat-icon>flag</mat-icon>
                        <span>{{ "english" | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="switchLanguage('ro')">
                        <mat-icon>flag</mat-icon>
                        <span>{{ "romanian" | translate }}</span>
                    </button>
                </mat-menu>

                <button mat-stroked-button class="register-button" (click)="register()">{{ "register" | translate }}</button>
            </div>
        </mat-toolbar>

        <div class="container">
            <router-outlet></router-outlet>
            <app-loading></app-loading>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
