.responsive-table {
    width: 100%;
    overflow-x: auto;
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 25px;
    }

    .button-container {
        margin-top: 12px;

        button {
            width: 100%;

            @media (max-width: 600px) {
                height: 50px;
            }
        }
    }
}
