/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$purple-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$purple-palette, A200, 200, 800);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((
    color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
    ),
));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme((
    color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
    ),
));

.darkMode {
    @include mat.all-component-colors($angular-dark-theme);
}

@font-face {
    font-family: 'LatoLight';
    src: url('/assets/fonts/Lato/Lato-Light.woff');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-calendar-table-header {
    display: none;
}

.mat-mdc-button .mdc-button__label,
.mat-mdc-unelevated-button .mdc-button__label,
.mat-mdc-raised-button .mdc-button__label,
.mat-mdc-outlined-button .mdc-button__label {
    z-index: 0;
}
