h1, h3 {
    font-family: "LatoLight";
}

.media-title {
    word-break: break-word;
}

.search-item-card {
    padding: 15px;
    border-top: 1px solid black;
}

.row {
    display: table;
    clear: both;
}

.column {
    float: left;
}

.title-container {
    padding-left: 10px;
}

.details-button {
    width: 150px;
    height: 40px;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.toggle-container {
    margin-top: auto;
    margin-bottom: 20px;
}

.media-container {
    width: 100%;
}

.button-container {
    button {
        margin-right: 5px;
    }
}
