h1 {
    font-family: "LatoLight";
}

#search-btn {
    margin-left: 10px;
}

.media-title {
    word-break: break-all;
}

.search-item-card {
    padding: 15px;
}

h3 {
    //text-align: center;
    font-family: "LatoLight";
}

.row {
    display: table;
    clear: both;
}

.column {
    float: left;
}

.item-crt {
    width: 35px;
}

.padded-left {
    padding-left: 8px;
}

.details-button {
    width: 150px;
    height: 40px;
}

