<h1>{{ "media files found" | translate }}</h1>
<div class="button-container">
    <button mat-raised-button id="search-btn" (click)="initSearch()">{{ "refresh" | translate }}</button>
</div>

<div *ngIf="searchPerformed && currentPage.length == 0">
    <h3>{{ "no media found, try again" | translate }}</h3>
</div>

<div *ngIf="searchPerformed && currentPage.length > 0">
    <div class="pagination-container">
        <mat-paginator
            [length]="totalItems"
            [pageSize]="defaultPageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>

    <div *ngFor="let searchItem of currentPage; let i = index">
        <mat-card class="search-item-card">
            <div style="display: flex">
                <div class="toggle-container">
                    <mat-slide-toggle color="accent" [checked]="searchItem.checked" (change)="toggleMedia($event.checked, this.currentIndex + i)"></mat-slide-toggle>
                </div>
                <div class="media-container">
                    <div class="title-container">
                        <mat-card-title><span class="media-title">{{this.currentIndex + i + 1}}. {{searchItem.group.name}}</span></mat-card-title>
                    </div>
                    <div class="actions-container">
                        <mat-card-actions>
                            <button mat-raised-button color="primary" class="details-button" (click)="goToMediaDetails(this.currentIndex + i)">{{ "details" | translate }}</button>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
        </mat-card>
        <br />
    </div>
</div>
